<web-app>

        <servlet>
                <servlet-name>fileuploader</servlet-name>
                <servlet-class>fileuploader</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>fileuploader</servlet-name>
                <url-pattern>/fileuploader</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>uploads</servlet-name>
                <servlet-class>uploads</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>uploads</servlet-name>
                <url-pattern>/uploads</url-pattern>
        </servlet-mapping>

</web-app>
~
~
~
~
~
~
~