/* 
_________________________________________________________________

Necessary styles/hacks

_________________________________________________________________
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    display: inline;
}  

* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* 
_________________________________________________________________

Body/Container

_________________________________________________________________
*/

body {
    background: #353535;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

#container {
    width: 750px;
    height:500px;
    margin: 0 auto;
    background: #FFF url(images/containerbg.gif);
    border-left: 5px solid #545454;
    border-right: 5px solid #545454;
}

/* 
_________________________________________________________________

Header

_________________________________________________________________
*/

h1 {
    height: 30px;
    background: url(images/h1bg.jpg);
    font-size:22px;
    font-weight:normal;
    padding:22px 0 0 28px;
}

h1 em {
    font-style:normal;
    color:#591212;
}

h2 {
    height: 140px;
    background: url(images/promoheader.jpg);
    text-indent: -9999px;
    border-bottom: 7px solid #EDEDED;
}

/* 
_________________________________________________________________

Content

_________________________________________________________________
*/

#content {
    width: 509px;
    float: left;
    margin: 17px;
    margin-left: 12px;

}
#content1
{
    width: 499px;
    float: left;
    margin: 5px;
    margin-left: 13px;
    overflow:scroll;
    height:270px;

}


/* 
_________________________________________________________________

Headers/Paragraph

_________________________________________________________________
*/

h3 {
    font-size: 24px;
    color: #FFFFFF;
    border-bottom: 2px solid #111;
}

h4 {
    font-size: 18px;
    color: #4B0404;
    margin: 15px 0 0 20px;
}

#content p {
    font-size: 12px;
    color: #070000;
    margin: 10px 10px 25px 50px;
    line-height: 20px;
    border-left: 3px solid #141414;
    padding-left: 13px;
}

#content p a{
    color: #671919;
}

/* 
_________________________________________________________________

Navigation

_________________________________________________________________
*/

#nav {
    list-style-type: none;
    width: 220px;
    background: #141414;
    float: right;
}

#nav li {
    display: inline;
}

#nav a {
    display: block;
    height: 23px;
    padding: 9px 0 0 10px;
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px solid #090909;
}

#nav a:hover {
    background: #242424;
}

/* 
_________________________________________________________________

Footer

_________________________________________________________________
*/

address {
    margin-top: -30px;
    height: 24px;
    margin: 0 auto;
    background: #6A0909;
    font-size: 12px;
    color: #FFF;
    width: 750px;
    border-left: 5px solid #545454;
    border-right: 5px solid #545454;
    text-align: center;
    padding-top: 6px;
}

address a {
    color: #FFF;
}

.lock
{
    width:150px;
    margin-top:-175px;
    position:absolute;
    margin-left:290px;
}

.lock1
{
    width:150px;
    margin-top:-120px;
    position:absolute;
    margin-left:290px;
}
#pwdchange
{

    margin-top:40px;
    position:absolute;
    margin-left:300px;
}

#downimg
{
    margin-top:-52px;
    position:absolute;
    margin-left:250px;

}

.regimage
{
    margin-top:-240px;
    position:absolute;
    margin-left:376px;
}

